// app global css in SCSS form

@font-face {
  font-family: "Wadik";
  src: local("Wadik"), url("./fonts/Wadik.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sfuitext_light";
  src: local("Sfuitext_light"),
    url("./fonts/sfuitext_light.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sfuitext_lightitalic";
  src: local("Sfuitext_lightitalic"),
    url("./fonts/sfuitext_lightitalic.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/Inter.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: local("Inter Italic"), url("./fonts/InterItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; // Adjust if the italic version has a different weight
  font-display: swap;
}
